<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
      {% block title %}
      Balham College
      {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    {% block customStyle %} <!-- Any custom CSS the page may want to implement -->
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('home')}}">Balham College</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li id="home"><a href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Course<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="addcourse"><a href="{{url_for('addcourse')}}">Add Course</a></li>
            <li id="updatecourse"><a href="{{url_for('updatecourse')}}">Update Course</a></li>
            <li id="deletecourse"><a href="{{url_for('deletecourse')}}">Delete Course</a></li>
            <li id="coursereport"><a href="{{url_for('coursereport')}}">Course Report</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programme<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="addprogramme"><a href="{{ url_for('addprogramme') }}">Add Programme</a></li>
            <li id="updateprogramme"><a href="{{ url_for('updateprogramme') }}">Update Programme</a></li>
            <li id="deleteprogramme"><a href="{{url_for('deleteprogramme')}}">Delete Programme</a></li>
          </ul>
        </li>

        <li id="enterresult"><a href="{{ url_for('enterresult') }}">Enter Result</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{{url_for('logout')}}">Logout</a></li>
          </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- display any messages we show the user -->
{% for msg in get_flashed_messages()%}
  <div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{msg}}
</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

{% if continuePrompt %}
    <script>
        setTimeout(function (){
            if (!window.confirm("{{ continueMessage }}")) {
                    window.location.href = '{{ url_for('home') }}';
                }
        },250)
    </script>
{% endif %}
<script>
  $(document).ready(function () {
      let currentPageButton = $('#{{ request.endpoint }}')
        currentPageButton.addClass("active");
      let pageButtonOuterParent = currentPageButton.parent().parent()
      console.log(pageButtonOuterParent.prop('tagName'))
      if (pageButtonOuterParent.prop('tagName') === 'LI') {
          pageButtonOuterParent.addClass("active");
      }
  })
</script> <!-- activate the navbar button of the current page -->
  </body>
</html>