{% extends 'base.html' %}
{% block customStyle %}
<style>
.form-group.required .control-label:before {
   color: red;
   content: "";
   position: absolute;
   margin-left: -8px;
}
</style> <!-- dont show required dot, since its not actually required to update any fields -->
{% endblock %}
{% block title %}Delete Course{% endblock %}
{% block content %}

<div class="container">
    <h1>Delete Course</h1>

    <hr>
    <form class="form-horizontal" id="deleteCourseForm" role="form" action="{{url_for('deletecourse')}}" method="POST">

        <div class="form-group required">
            <label id="coursesDropdownLabel" class="col-sm-2 control-label">Courses:</label>
            <div class="col-sm-8">
                <select class="form-control" id="selectedCourse" name="selectedCourse" required>
                    <option selected value="">Select a course</option>
                    {% for course in courses %}
                    <option value="{{course.id}}">{{course.id}}    {{course.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div> <!-- Courses Dropdown -->

        <div class="form-group required">
            <label for="courseID" class="col-sm-2 control-label">Course ID:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="courseID" name="courseID" placeholder="ID" maxlength="32" minlength="1" readonly>
            </div>
        </div> <!-- Course ID-->

        <div class="form-group required">
            <label for="courseName" class="col-sm-2 control-label">Course Name:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="courseName" name="courseName" placeholder="Course name" maxlength="32" minlength="1" readonly>
            </div>
        </div> <!-- Course Name -->

        <div class="form-group required">
            <label for="credits" class="col-sm-2 control-label">Credits:</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="credits" name="credits" placeholder="Credits" min="5" max="120" readonly>
            </div>
        </div> <!-- Credits -->

        <div class="form-group required">
            <label class="col-sm-2 control-label">Status:</label>
            <div class="col-sm-5 btn-group" role="group">
                <input type="radio" id="current" name="status" value="Current" disabled='disabled'>
                <label for="current">Current</label>
                <input type="radio" id="suspended" name="status" value="Suspended" disabled='disabled'>
                <label for="suspended">Suspended</label>
            </div>
        </div> <!-- Status Radio Select -->

        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-warning">Delete Course</button>
            </div> <!-- Add Course Button -->
            <a href="{{url_for('home')}}" class="btn btn-danger" role="button">Cancel</a> <!-- Cancel Button -->
        </div> <!-- Buttons -->

    </form>
</div>

<script src="{{url_for('static', filename='js/deletecourse.js')}}"></script> <!-- load js -->
{% endblock %}