{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">


    <h1>Dashboard</h1>
    <hr>
    <p>Please select a form:</p>
    <div class="btn-group" role="group" aria-label="...">
        <a href="{{url_for('addcourse')}}" class="btn btn-default" role="button">Add Course</a>
        <a href="{{url_for('updatecourse')}}" class="btn btn-default" role="button">Update Course</a>
        <a href="{{url_for('deletecourse')}}" class="btn btn-default" role="button">Delete Course</a>
        <a href="{{url_for('coursereport')}}" class="btn btn-default" role="button">Course Report</a>
    </div>
    <br><br>
    <div class="btn-group" role="group" aria-label="...">
        <a href="{{url_for('addprogramme')}}" class="btn btn-default" role="button">Add Programme</a>
        <a href="#" class="btn btn-default" role="button">Update Programme</a>
        <a href="#" class="btn btn-default" role="button">Delete Programme</a>
    </div>
    <br><br>
    <button type="button" class="btn btn-default">Enter Result</button>
</div>

{% endblock %}